@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h2>Forgot Password</h2>
                </div>
                <div class="card-body">
                    <form asp-action="ForgotPassword" method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div></br> </br>
                        <button type="submit" class="btn btn-primary w-100">Send</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>
                        <a asp-action="Login">Back to Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
